<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ if .Page.Title }}{{ .Page.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if .Page.Description }}{{ .Page.Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | absURL }}">
  <link rel="canonical" href="{{ .Page.Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/feed.xml" | absURL }}">
  <link rel="icon" href="{{ "/favicon.png" | absURL }}">
  {{ if .Page.Data.Mathjax }}
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
  MathJax.InputJax.TeX.prefilterHooks.Add(function (data) {
    data.math = data.math.replace(/^%?\s*<!\[CDATA\[\s*(.*)\s*%?\]\]>\s*$/m,"$1");
  });
});
   </script>
   {{ end }}
</head>
